@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:wght@400,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat:wght@400,700&display=swap");

@font-face {
  font-family: "fa-brands-400";
  font-display: swap;
  src: url("../fonts/fa-brands-400.woff") format("woff"), url("../fonts/fa-brands-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-v4compatibility";
  font-display: swap;
  src: url("../fonts/fa-v4compatibility.woff") format("woff"), url("../fonts/fa-v4compatibility.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-solid-900";
  font-display: swap;
  src: url("../fonts/fa-solid-900.woff") format("woff"), url("../fonts/fa-solid-900.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "fa-regular-400";
  font-display: swap;
  src: url("../fonts/fa-regular-400.woff") format("woff"), url("../fonts/fa-regular-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto Slab";
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.woff?vbbta8") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: "\e900";
}

.icon-chevron-right:before {
  content: "\e901";
}

.icon-code:before {
  content: "\e902";
}

.icon-envelope-o:before {
  content: "\e903";
}

.icon-facebook-f:before {
  content: "\e904";
}

.icon-font:before {
  content: "\e905";
}

.icon-google-plus-g:before {
  content: "\e906";
}

.icon-linkedin-in:before {
  content: "\e907";
}

.icon-map-marker:before {
  content: "\e908";
}

.icon-mobile-phone:before {
  content: "\e909";
}

.icon-support:before {
  content: "\e90a";
}

.icon-twitter:before {
  content: "\e90b";
}

.header {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  height: 60px;
  -webkit-transition: top 0.3s ease 0s;
  -o-transition: top 0.3s ease 0s;
  transition: top 0.3s ease 0s;
  z-index: 4;
}

.header._height {
  top: 0;
}

.header._active {
  top: 0px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header__content {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  z-index: 2;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #ffffff;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

:root {
  --swiper-navigation-size: 44px;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  height: var(--swiper-navigation-size);
  margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
}

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after {
  content: 'prev';
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
  content: 'next';
}

.swiper-button-prev.swiper-button-white,
.swiper-button-next.swiper-button-white {
  --swiper-navigation-color: #ffffff;
}

.swiper-button-prev.swiper-button-black,
.swiper-button-next.swiper-button-black {
  --swiper-navigation-color: #000000;
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
      -ms-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
      -ms-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullet {
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 6px 0;
  display: block;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
}

.swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 200ms top, 200ms -webkit-transform;
  transition: 200ms top, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top;
  transition: 200ms transform, 200ms top, 200ms -webkit-transform;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 4px;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms left, 200ms -webkit-transform;
  transition: 200ms left, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left;
  transition: 200ms transform, 200ms left, 200ms -webkit-transform;
}

.swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 200ms right, 200ms -webkit-transform;
  transition: 200ms right, 200ms -webkit-transform;
  -o-transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right;
  transition: 200ms transform, 200ms right, 200ms -webkit-transform;
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progressbar,
.swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical > .swiper-pagination-progressbar,
.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-white {
  --swiper-pagination-color: #ffffff;
}

.swiper-pagination-black {
  --swiper-pagination-color: #000000;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.swiper-zoom-container > img,
.swiper-zoom-container > svg,
.swiper-zoom-container > canvas {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube {
  overflow: visible;
}

.swiper-container-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-container-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

.swiper-container-flip {
  overflow: visible;
}

.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.introductory-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.introductory-info__title {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  color: #555555;
  position: relative;
  padding-bottom: 25px;
}

.introductory-info__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 50px;
  margin-top: 30px;
  height: 2px;
  background-color: #555555;
}

.introductory-info__text {
  padding-top: 25px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
}

.slider__arrow {
  z-index: 10;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  cursor: pointer;
  padding: 12px 14px;
  background-color: rgba(85, 85, 85, 0.5);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.slider__arrow::before {
  font-size: 20px;
  color: #dddddd;
}

.slider__arrow_prev {
  left: 0;
}

.slider__arrow_next {
  right: 0;
}

.slider {
  max-width: 100%;
}

.slider__container-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__quote {
  max-width: 790px;
  text-align: center;
  line-height: 1.66;
  color: #555555;
  margin-bottom: 30px;
  font-size: 18px;
}

.slider__quote-autor {
  line-height: 1.5;
  font-weight: 400;
  color: #555555;
  font-size: 20px;
}

.controls-slider__dotts {
  margin-top: 38px;
  width: 100%;
  text-align: center;
}

.controls-slider__dotts .swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controls-slider__dotts .swiper-pagination-bullet {
  cursor: pointer;
  width: 13px;
  height: 13px;
  background-color: #dddddd !important;
  opacity: 1 !important;
}

.controls-slider__dotts .swiper-pagination-bullet:not(:last-child) {
  margin-right: 7px;
}

.controls-slider__dotts .swiper-pagination-bullet-active {
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: #c0301c !important;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.footer {
  background-color: #c0301c;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer__content {
  text-align: center;
}

.footer__links {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.footer__links::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 2px;
  background-color: #ffffff;
}

.footer__link {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 2px solid #ffffff;
  position: relative;
  margin: 0 7px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__link::before {
  border-radius: 50%;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.footer__text {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

.page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
}

.banner__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.banner__content {
  padding: 200px 0 150px;
  padding-top: 200px;
  z-index: 2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.banner__title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  font-size: 48px;
  margin-bottom: 30px;
}

.banner__text {
  font-family: 'Roboto Slab';
  text-transform: none;
  color: #ffffff;
  margin-bottom: 50px;
  font-size: 20px;
  margin-bottom: 50px;
}

.banner__button {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 35px;
  padding-right: 35px;
}

.services {
  padding-top: 100px;
  padding-bottom: 100px;
}

.services__list {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 45px;
}

.item-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.item-services__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: 2px solid #dddddd;
  border-radius: 50%;
  margin-bottom: 30px;
  width: 90px;
  height: 90px;
}

.item-services__icon::before {
  display: block;
  color: #c0301c;
  font-size: 45px;
}

.item-services__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #555555;
  margin-bottom: 20px;
}

.item-services__text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
}

.about-us {
  background-color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about-us__content-text {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}

.about-us__text-column {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
}

.about-us__team {
  margin-top: 70px;
}

.team {
  position: relative;
}

.team__img-container {
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 15px;
}

.team__img-container:hover .team__hover-content {
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.team__img {
  padding-bottom: 95%;
}

.team__hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(85, 85, 85, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
}

.team__links {
  margin-bottom: 30px;
}

.team__link {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.team__link::before {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 19px;
  color: #fff;
}

.team__link:hover {
  background-color: #c0301c;
}

.team__iformation {
  text-align: center;
}

.team__people-name {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #555555;
}

.team__people-job {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
}

.works {
  padding-top: 100px;
}

.works__gallery {
  margin-bottom: 100px;
}

.gallery__categories {
  margin-top: 25px;
  margin-bottom: 65px;
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.gallery__categorie {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-bottom: 5px;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.gallery__categorie._active {
  color: #c0301c;
}

.gallery__categorie:not(:last-child) {
  margin-right: 20px;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 30px;
}

.item-gallery {
  position: relative;
}

.item-gallery:hover .item-gallery__hover {
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

.item-gallery__img {
  padding-bottom: 89%;
}

.item-gallery__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(192, 47, 28, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  visibility: hidden;
}

.item-gallery__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 5px;
}

.item-gallery__categorie {
  font-size: 12px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 20px;
}

.item-gallery__link {
  position: relative;
  padding: 15px 20px;
  padding-right: 40px;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #c0301c;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-gallery__link::before {
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.touch-works {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.touch-works::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(192, 47, 28, 0.6);
}

.touch-works__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.touch-works__content {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0 15px;
}

.touch-works__text {
  line-height: 1.466;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  font-size: 30px;
}

.touch-works__link {
  display: inline-block;
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 27px;
  padding-right: 27px;
  font-size: 18px;
  line-height: 2.44;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 2px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog {
  padding-top: 100px;
  padding-bottom: 100px;
}

.blog__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
}

.item-blog {
  padding: 38px 0;
  min-height: 100%;
}

.item-blog:not(:last-child) {
  border-bottom: 1px solid #dddddd;
}

.item-blog:first-child {
  padding-top: 0;
}

.item-blog:last-child {
  padding-bottom: 0;
}

.item-blog__content {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(300px, 460px) minmax(400px, 640px);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  column-gap: 40px;
}

.item-blog__column:last-child {
  padding-bottom: 65px;
}

.item-blog__column_content {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-blog__img-container {
  position: relative;
  height: 100%;
}

.item-blog__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.item-blog__title {
  margin-bottom: 20px;
}

.item-blog__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  line-height: 24px;
  font-weight: 400;
  color: #555555;
  font-size: 14px;
  margin-bottom: 30px;
}

.item-blog__more {
  font-size: 13px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #777777;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.title-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-blog__date {
  border: 2px solid #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 20px;
}

.title-blog__date span {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #777777;
}

.title-blog__date span:last-child {
  font-size: 14px;
}

.title-blog__text {
  margin-left: 26px;
}

.title-blog__title {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  text-transform: uppercase;
  color: #555555;
  font-size: 16px;
}

.title-blog__subtitle {
  line-height: 1.846;
  font-weight: 400;
  color: #777777;
  font-size: 13px;
}

.title-blog__subtitle span {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.clients {
  background-color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 100px;
}

.clients__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -30px;
}

.clients__item {
  display: block;
  padding: 0 30px 30px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.clients__slider {
  margin-top: 40px;
}

.connection {
  padding-top: 100px;
  padding-bottom: 100px;
}

.connection__container {
  margin-top: 70px;
  margin-top: 70px;
}

.socials-connect__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.item-socials {
  position: relative;
  padding: 0 0 0 29px;
}

.item-socials::before {
  position: absolute;
  top: 5px;
  left: 0;
  font-size: 20px;
  color: #555555;
}

.item-socials__title {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #555555;
}

.item-socials__hover {
  font-family: 'Roboto Slab';
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
}

.item-socials__hover a {
  color: #555555;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form-connnect__message {
  height: 104px !important;
  resize: none;
}

.form-connnect__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-connnect__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
  border: 1px solid #555555;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #555555;
  padding: 0 10px;
  width: 140px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  background-color: transparent;
  -webkit-transition: 0.3s ease 0s;
  -o-transition: 0.3s ease 0s;
  transition: 0.3s ease 0s;
}

.form-connnect__text {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  color: #555555;
  margin-left: 38px;
  margin-left: 38px;
  font-size: 12px;
}

.form-connnect__text span {
  color: #c0301c;
}

.inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.inputs__input-container {
  position: relative;
}

.inputs__input-container._error .input {
  -webkit-box-shadow: 0 0 5px #c0301c;
          box-shadow: 0 0 5px #c0301c;
}

.form__error {
  position: absolute;
  bottom: 8px;
  left: 0;
  width: 100%;
  text-align: center;
  color: red;
}

.input {
  width: 100%;
  height: 44px;
  border: 1px solid #555555;
  margin-bottom: 21px;
  padding: 17px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #555555;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.input:focus {
  border: 1px solid #c0301c;
  text-transform: lowercase;
}

@media (min-width: 767.98px) {
  .menu li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (min-width: 991.98px) {
  .connection__container {
    display: grid;
    grid-template-columns: 270px minmax(500px, 730px);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .socials-connect__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-socials:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (max-width: 1170px) {
  .introductory-info__title {
    padding-bottom: calc(20px + (25 - 20) * ((100vw - 320px) / (1170 - 320)));
  }

  .introductory-info__text {
    padding-top: calc(20px + (25 - 20) * ((100vw - 320px) / (1170 - 320)));
  }

  .slider__quote {
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1170 - 320)));
  }

  .slider__quote {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1170 - 320)));
  }

  .slider__quote-autor {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1170 - 320)));
  }

  .controls-slider__dotts {
    margin-top: calc(25px + (38 - 25) * ((100vw - 320px) / (1170 - 320)));
  }

  .footer {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .footer {
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .banner__content {
    padding-top: calc(160px + (200 - 160) * ((100vw - 320px) / (1170 - 320)));
  }

  .banner__title {
    font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (1170 - 320)));
  }

  .banner__title {
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1170 - 320)));
  }

  .banner__text {
    font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1170 - 320)));
  }

  .banner__text {
    margin-bottom: calc(30px + (50 - 30) * ((100vw - 320px) / (1170 - 320)));
  }

  .banner__button {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1170 - 320)));
  }

  .banner__button {
    padding-top: calc(10px + (18 - 10) * ((100vw - 320px) / (1170 - 320)));
  }

  .banner__button {
    padding-bottom: calc(10px + (18 - 10) * ((100vw - 320px) / (1170 - 320)));
  }

  .banner__button {
    padding-left: calc(25px + (35 - 25) * ((100vw - 320px) / (1170 - 320)));
  }

  .banner__button {
    padding-right: calc(25px + (35 - 25) * ((100vw - 320px) / (1170 - 320)));
  }

  .services {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .services {
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .services__list {
    margin-top: calc(40px + (60 - 40) * ((100vw - 320px) / (1170 - 320)));
  }

  .item-services__icon {
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1170 - 320)));
  }

  .item-services__icon {
    width: calc(60px + (90 - 60) * ((100vw - 320px) / (1170 - 320)));
  }

  .item-services__icon {
    height: calc(60px + (90 - 60) * ((100vw - 320px) / (1170 - 320)));
  }

  .item-services__icon::before {
    font-size: calc(30px + (45 - 30) * ((100vw - 320px) / (1170 - 320)));
  }

  .item-services__title {
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1170 - 320)));
  }

  .about-us {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .about-us {
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .about-us__content-text {
    margin-top: calc(30px + (70 - 30) * ((100vw - 320px) / (1170 - 320)));
  }

  .about-us__team {
    margin-top: calc(30px + (70 - 30) * ((100vw - 320px) / (1170 - 320)));
  }

  .works {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .works__gallery {
    margin-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .gallery__categories {
    margin-bottom: calc(30px + (65 - 30) * ((100vw - 320px) / (1170 - 320)));
  }

  .touch-works {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .touch-works {
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .touch-works__text {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1170 - 320)));
  }

  .touch-works__text {
    font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1170 - 320)));
  }

  .touch-works__link {
    margin-top: calc(25px + (50 - 25) * ((100vw - 320px) / (1170 - 320)));
  }

  .touch-works__link {
    padding-top: calc(5px + (10 - 5) * ((100vw - 320px) / (1170 - 320)));
  }

  .touch-works__link {
    padding-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1170 - 320)));
  }

  .touch-works__link {
    padding-left: calc(15px + (27 - 15) * ((100vw - 320px) / (1170 - 320)));
  }

  .touch-works__link {
    padding-right: calc(15px + (27 - 15) * ((100vw - 320px) / (1170 - 320)));
  }

  .touch-works__link {
    font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1170 - 320)));
  }

  .blog {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .blog {
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .blog__list {
    margin-top: calc(40px + (70 - 40) * ((100vw - 320px) / (1170 - 320)));
  }

  .item-blog__content {
    -webkit-column-gap: calc(0px + (40 - 0) * ((100vw - 320px) / (1170 - 320)));
       -moz-column-gap: calc(0px + (40 - 0) * ((100vw - 320px) / (1170 - 320)));
            column-gap: calc(0px + (40 - 0) * ((100vw - 320px) / (1170 - 320)));
  }

  .item-blog__column:last-child {
    padding-bottom: calc(0px + (65 - 0) * ((100vw - 320px) / (1170 - 320)));
  }

  .item-blog__title {
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1170 - 320)));
  }

  .item-blog__text {
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1170 - 320)));
  }

  .item-blog__text {
    margin-bottom: calc(15px + (30 - 15) * ((100vw - 320px) / (1170 - 320)));
  }

  .title-blog__text {
    margin-left: calc(15px + (26 - 15) * ((100vw - 320px) / (1170 - 320)));
  }

  .title-blog__title {
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1170 - 320)));
  }

  .title-blog__subtitle {
    font-size: calc(12px + (13 - 12) * ((100vw - 320px) / (1170 - 320)));
  }

  .clients {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .clients {
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .clients__slider {
    margin-top: calc(0px + (40 - 0) * ((100vw - 320px) / (1170 - 320)));
  }

  .connection {
    padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .connection {
    padding-bottom: calc(50px + (100 - 50) * ((100vw - 320px) / (1170 - 320)));
  }

  .connection__container {
    margin-top: calc(35px + (70 - 35) * ((100vw - 320px) / (1170 - 320)));
  }

  .form-connnect__button {
    padding-top: calc(10px + (15 - 10) * ((100vw - 320px) / (1170 - 320)));
  }

  .form-connnect__button {
    padding-bottom: calc(10px + (15 - 10) * ((100vw - 320px) / (1170 - 320)));
  }

  .form-connnect__button {
    font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1170 - 320)));
  }

  .form-connnect__text {
    margin-left: calc(15px + (38 - 15) * ((100vw - 320px) / (1170 - 320)));
  }

  .form-connnect__text {
    font-size: calc(10px + (12 - 10) * ((100vw - 320px) / (1170 - 320)));
  }
}

@media (max-width: 991.98px) {
  .socials-connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .socials-connect__container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }

  .socials-connect__item {
    padding-right: 30px;
  }

  .item-socials {
    margin-bottom: 30px;
  }
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    overflow: auto;
    background-color: #c0301c;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }

  .menu__body::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 40px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #c0301c;
    z-index: 2;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__body._active::before {
    left: 0;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 80px;
  }

  .menu__list li {
    margin-bottom: 30px;
  }

  .menu__link {
    font-size: 24px;
  }

  .icon-menu {
    margin: 0 0 0 20px;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
    background-color: inherit;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50%-1px);
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    left: 0;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    background-color: #fff;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .item-blog__content {
    grid-template-columns: 1fr;
  }

  .item-blog__column:last-child {
    padding-bottom: 0;
  }

  .item-blog__column {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .item-blog__column:first-child {
    margin-top: 20px;
  }

  .item-blog__column_content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .item-blog__img-container {
    padding-bottom: 50%;
  }
}

@media (max-width: 410px) {
  .clients__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 767.98px) and (max-width: 1170px) {
  .menu li:not(:last-child) {
    margin-right: calc(20px + (30 - 20) * ((100vw - 320px) / (1170 - 320)));
  }
}

@media (any-hover: hover) {
  .header__logo:hover {
    color: #ffd83e;
  }

  .menu__link:hover {
    color: #ffd83e;
  }

  .slider__arrow:hover {
    background-color: #c0301c;
  }

  .footer__link:hover {
    background-color: #fff;
  }

  .footer__link:hover::before {
    color: #c0301c;
  }

  .banner__button:hover {
    background-color: #fff;
    color: #c0301c;
  }

  .touch-works__link:hover {
    color: #c0301c;
    background-color: #ffffff;
  }

  .item-blog:hover .title-blog__title,
  .item-blog:hover .title-blog__subtitle span,
  .item-blog:hover .item-blog__more {
    color: #c0301c;
  }

  .clients__item:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .item-socials__hover a:hover {
    color: #c0301c;
  }

  .form-connnect__button:hover {
    background-color: #c0301c;
    color: #ffffff;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1170px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 410px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 767.98px) and (max-width: 1170px){

@supports (-webkit-appearance:none){

}

}

 @media (any-hover: hover){

@supports (-webkit-appearance:none){

}

}
